.hero {
  background-image: url('../images/bg@1x.jpg');
  background-image: image-set(
    url('../images/bg@2x.webp') type("image/webp") 2x,
    url('../images/bg@1x.webp') type("image/webp") 1x,
    url('../images/bg@2x.jpg') type("image/jpg") 2x,
    url('../images/bg@1x.jpg') type("image/jpg") 1x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 220px;
  padding-bottom: 120px;
}

.hero__title {
  font-size: 130px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 10px;
}

.hero__title-letter {
  color: var(--main-bg-color);
}

.hero__subtitle {
  font-size: 26px;
  margin-bottom: 60px;
}

.hero__button {
  background-color: var(--main-color);
  outline: none;
  border: 2px solid transparent;
  transition: background-color .3s ease;
}

.hero__button:hover {
  background-color: var(--green-bg-color);
}

.hero__button:focus {
  border-color: var(--main-bg-color);
}

.hero__button:active {
  background-color: var(--main-bg-color);
}

@media (max-width: 1200px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 70px;
  }

  .hero__title {
    font-size: 100px;
  }

  .hero__subtitle {
    font-size: 24px;
  }
}

@media (max-width: 940px) {
  .hero {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .hero__title {
    font-size: 80px;
    margin-bottom: 4px;
  }

  .hero__subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .hero__title {
    font-size: 60px;
  }

  .hero__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .hero {
    background-image: url('../images/bg2@1x.jpg');
    background-image: image-set(
      url('../images/bg2@2x.webp') 2x,
      url('../images/bg2@1x.webp') 1x,
      url('../images/bg2@2x.jpg') 2x,
      url('../images/bg2@1x.jpg') 1x
    );
    padding-top: 259px;
    padding-bottom: 30px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .hero__button {
    width: 100%;
  }
}
